body {
    background-color: lavender;
    background-image: nice books;

}

#book-header {

    border-bottom: 2px solid #ccc;
    font-size: 36px;
    line-height: 54px;
    text-align: center;


}

#book-header img {
    height: 6rem;
    width: auto;
}

h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
}

h3 {
    font-style: italic;
    font-size: 18px;
    line-height: 36px;
}

p {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 150%;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.add-book-form {
    width: 80%
}

.submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.submit:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
}



.input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-style: italic;
    margin: 3px;
}




#books-collection {
    margin: 2rem;
}

.main {
    overflow: hidden;
}